

.al-icon-btn {
  border: none;
  background: transparent;
  padding: 0.5rem ;
  font-size: 1.2rem;
  cursor: pointer;
}

 .al-brand-name{
  color:blue;


}
.maggie{
  width:100%;
  height: auto;
 
}
.fourbox .boxone {
  width: 25%;
}
.logofirst{
  height: auto;
  width:300px;
 }
 .localShop{
 font-size:185px;
 padding:50px;
  color:#fff;
 }
  .Ourmission{
  width:64%;
 }
 .neighbour{
  margin:20px;
 }


 @media screen and (max-width: 1024px) {
  .Ourmission{
  width:90%;
 }

 }

@media screen and (max-width: 768px) {
 .fourbox{
  flex-direction: column;
  
 
 }
  
 
 .neighbour{
  margin:0px;
  margin-top:25px;
 }
 .Ourmission{
  width:100%;
 }
 .fourbox .boxone{
  width:100%;
  background-color:green;
 }
 .al-brand-name, .al-brand-sub{
  display: none;
 }
 .logofirst{
  height: auto;
  width:auto
 }
 .localShop{
   padding-top:47px;
   padding-left:134px;
  font-size: 40px;
 }
}
